transformers>=4.40.0
accelerate>=0.28.0
sentence-transformers==2.2.2

torch==2.1.2

streamlit
huggingface-hub
langchain
langchainhub
langchain-core
langchain-community
langchain-openai
langchain-groq
langchain_huggingface
langchain-text-splitters

python-dotenv
ipykernel
pypdf
pymupdf
bs4
arxiv
wikipedia
duckduckgo-search
faiss-cpu               # ✅ New: for FAISS vector store
duckdb
pandas
openai
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
